@tailwind base;
@tailwind components;
@tailwind utilities;

.choose-us-scroll::-webkit-scrollbar {
    display: none;
}

.tab-scroll::-webkit-scrollbar {
    display: none;
}

.ant-tree .ant-tree-switcher-noop {
    display: none;
}

/* andt input */
.ant-input {
    color: #7a8699 !important;
    font-size: 16px;
    font-family: var(--font-poppins);
}

/* antd input outline */
.ant-input-outlined,
.ant-input-number-input {
    border-color: #ebedf0;
    /* padding: 13px 12px !important; */
    line-height: 24px;
    font-weight: 400;
    border-radius: 4px;
    color: #7a8699 !important;
    font-size: 16px;
    font-family: var(--font-poppins);
}

/* andt select item */

/* .ant-select-outlined:not(.ant-select-customize-input)
    .ant-select-selector
    .custom-select {
    height: 40px;
    border: none;
    background-color: #f5f6f7;
    border-radius: 2px;
} */

.ant-picker-outlined:hover {
    border-color: #0b2848;
}

.ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
    border-radius: 2px;
}

.ant-select-focused:where(
        .css-dev-only-do-not-override-42nv3w
    ).ant-select-outlined:not(.ant-select-disabled):not(
        .ant-select-customize-input
    ):not(.ant-pagination-size-changer)
    .ant-select-selector {
    box-shadow: none;
}

.ant-select-focused:where(
        .css-dev-only-do-not-override-42nv3w
    ).ant-select-outlined:not(.ant-select-disabled):not(
        .ant-select-customize-input
    ):not(.ant-pagination-size-changer)
    .ant-select-selector {
    border-color: #0b2848;
}

.ant-select-selection-item {
    color: #505f79 !important;
    font-family: var(--font-poppins);
}

.ant-input-outlined:hover {
    border-color: #0b2848 !important;
}

.ant-input-outlined:focus {
    box-shadow: none;
    border-color: #0b2848 !important;
}

.ant-input-outlined:focus-within {
    border-color: #0b2848 !important;
}

.ant-select-outlined:not(.ant-select-disabled):not(
        .ant-select-customize-input
    ):not(.ant-pagination-size-changer):hover
    .ant-select-selector {
    border-color: #0b2848;
}

.ant-select-focused:where(
        .css-dev-only-do-not-override-1uweeqc
    ).ant-select-outlined:not(.ant-select-disabled):not(
        .ant-select-customize-input
    ):not(.ant-pagination-size-changer)
    .ant-select-selector {
    border-color: #0b2848;
    box-shadow: none;
    /* outline: 0; */
}

/* antd slider rail */
.ant-slider-horizontal .ant-slider-rail {
    background-color: #a6aebb;
}

.ant-slider .ant-slider-track {
    background-color: #0b2848;
}

.ant-slider:hover .ant-slider-track {
    background-color: #0b2848;
}

.ant-slider .ant-slider-handle {
    background-color: #0b2848 !important;
}

.ant-slider .ant-slider-handle:focus::before {
    box-shadow: 0 0 0 4px #0b2848;
}

.ant-slider .ant-slider-handle:focus::after {
    box-shadow: 0 0 0 4px #0b2848;
}

.ant-slider .ant-slider-handle:active::after {
    box-shadow: 0 0 0 4px #0b2848;
}

.ant-slider .ant-slider-handle::after {
    box-shadow: 0 0 0 4px #0b2848;
}

.ant-slider .ant-slider-handle:focus::before {
    box-shadow: none;
}

.ant-slider .ant-slider-handle:hover::after {
    box-shadow: 0 0 0 4px #0b2848;
}

.ant-slider:hover .ant-slider-handle::after {
    box-shadow: 0 0 0 4px #0b2848;
}

.ant-slider-horizontal:hover .ant-slider-rail {
    background-color: #a6aebb;
}

/* antd input number */
.ant-input-number-affix-wrapper input.ant-input-number-input {
    padding-top: 8px;
}

.ant-input-number-outlined:hover {
    border-color: #0b2848;
}

.ant-input-number-outlined:focus,
.ant-input-number-outlined:focus-within {
    border-color: #0b2848;
    box-shadow: none;
}

/* Antd checkbox */
.ant-checkbox-inner {
    /* background-color: white !important; */
    border-color: #0b2848 !important;
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #0b2848;
}

.ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover
    .ant-checkbox-checked:not(.ant-checkbox-disabled)
    .ant-checkbox-inner {
    background-color: #0b2848;
}

.ant-tree
    .ant-tree-checkbox:not(.ant-tree-checkbox-disabled):hover
    .ant-tree-checkbox-inner {
    border-color: #0b2848;
}

.ant-tree .ant-tree-checkbox .ant-tree-checkbox-inner {
    border-color: #7a8699;
    border-radius: 2px;
}

.ant-tree .ant-tree-checkbox-checked .ant-tree-checkbox-inner {
    background-color: #0b2848;
    border-color: #0b2848;
}

.ant-tree
    .ant-tree-checkbox-checked:not(.ant-tree-checkbox-disabled):hover
    .ant-tree-checkbox-inner {
    background-color: #0b2848;
}

/* antd collapse header */
.ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding: 16px 16px 0px 0px;
}

.ant-collapse .ant-collapse-content > .ant-collapse-content-box {
    padding: 0px;
}

/* ANtd button */
.ant-btn-primary:not(:disabled):not(.ant-btn-disabled):hover {
    background-color: #061628;
}

/* Antd radio */
:where(.css-dev-only-do-not-override-1uweeqc).ant-radio-wrapper
    .ant-radio-checked
    .ant-radio-inner {
    border-color: #0b2848;
    background-color: #0b2848;
}

.ant-radio-wrapper .ant-radio-checked::after {
    border: none;
}

.ant-radio-wrapper:hover .ant-radio-inner {
    border-color: #0b2848;
}

.clamp {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ant-form-item-explain-error {
    font-family: var(--font-poppins);
    padding-top: 4px;
}

/* Antd Date Picker */

.ant-picker-outlined:focus,
.ant-picker-outlined:focus-within {
    border-color: #0b2848;
    box-shadow: none;
    outline: 0;
    /* background-color: #f5f6f7; */
}

.ant-picker-outlined {
    /* background-color: #f5f6f7; */
    /* border: none; */
    height: 40px;
    border-radius: 2px;
}

/* Antd pagination */

.ant-pagination .ant-pagination-item-active {
    background-color: #0b2848;
    border-color: #0b2848;
    border-radius: 3px;
}

.ant-pagination .ant-pagination-item-active a {
    color: white;
}

/* Antd table */
.custom-table .ant-table-thead > tr > th {
    background-color: #fff;
}
.ant-table-wrapper .ant-table-thead > tr > th {
    color: #5d6b82;
}

:where(.css-dev-only-do-not-override-42nv3w).ant-radio-wrapper {
    position: relative;
}

/* .ant-radio-wrapper .ant-radio {
    position: absolute;
    top: 4px !important;
} */

:where(.css-dev-only-do-not-override-42nv3w).ant-radio-wrapper
    span.ant-radio
    + * {
    padding-inline-start: 28px !important;
}

.ant-radio-wrapper .ant-radio-checked .ant-radio-inner {
    border-color: #0b2848;
    background-color: #0b2848;
}
